In [1]:
import requests
import numpy as np
import pandas as pd

from airflow.models import DAG

from airflow.operators.python_operator import PythonOperator

dag = DAG(dag_id="etl_pipeline",

schedule_interval="0 0 * * *")

etl_task = PythonOperator(task_id="etl_task",

python_callable=etl,

dag=dag)

etl_task.set_upstream(wait_for_this_task)

In [2]:
df_vagas = pd.read_csv("../stone2/data/jobs.csv", sep=";") 
df_inscritos = pd.read_csv("../stone2/data/applications.csv", sep=";")

In [3]:
getCity = lambda lista: lista[-1].strip()
getJob = lambda lista: lista[-2].strip()

In [4]:
splitted_job = df_vagas.job_name.str.split("-")

df_vagas['cidade'] = [getCity(row) for row in splitted_job]
df_vagas['cargo'] = [getJob(row) if len(row) > 1 else None for row in splitted_job]

In [5]:

df_vagas.cidade.value_counts()

Salvador              2
Cascavel              2
São Bento do Sul      2
Porto Alegre          2
Campo Grande          2
                     ..
Cuiabá                1
Florianópolis         1
Primavera do Leste    1
Petrópolis            1
Campo Mourão          1
Name: cidade, Length: 271, dtype: int64

In [6]:

df_vagas.cargo.value_counts()

Consultor Comercial Externo     99
Consultor Comercial             68
Agente Stone                    66
                                11
BA                               4
S                                3
BA 2                             2
SEAL                             2
E                                2
2                                2
PE                               2
PB                               2
CE                               1
PMS                              1
ES                               1
C E                              1
Ji                               1
L                                1
Consultor Comercial  Externo     1
PBRN                             1
Name: cargo, dtype: int64

In [7]:
print(len(df_vagas))
print(len(df_vagas.job_id.unique()))

276
276

In [8]:
def cleanJob(col):
    reps = {
    'valores_validos': ['Consultor Comercial Externo',
                        'Consultor Comercial',
                        'Agente Stone'],
    'valor_reposicao': np.nan
    }
    col = col.replace('Consultor Comercial  Externo', 'Consultor Comercial Externo')
    col = col.where(col.isin(reps['valores_validos']), reps['valor_reposicao'])
    return col

In [9]:
df_vagas['cargo'] = cleanJob(df_vagas['cargo'])

In [10]:
df_vagas

,job_id,job_name,cidade,cargo
0,1679689,- Feira de Santana,Feira de Santana,NaN
1,1210619,- Itabaiana,Itabaiana,NaN
2,1623539,- Mossoró,Mossoró,NaN
3,1216644,- Parnamirim,Parnamirim,NaN
4,1723540,- Salvador,Salvador,NaN
...,...,...,...,...
271,1728998,- Recife,Recife,NaN
272,1192982,- Vale do São Francisco,Vale do São Francisco,NaN
273,1170258,- Sobral,Sobral,NaN
274,1245731,Teste Unico - Agente Stone - Consultor Comerci...,Porto Alegre,Consultor Comercial
275,1275685,Teste Unico - Agente Stone - Consultor Comerci...,Salvador,Consultor Comercial

In [11]:
df_inscritos.head()

   application_id   job_id application_stage
0         2900991  1127750       interview 1
1         2447626  1359157       interview 1
2         2838222  1448786             offer
3         2281269  1084916       interview 1
4         2533105  1931363           applied

In [50]:
df_inscritosVagas = df_inscritos.merge(df_vagas, left_on='job_id', right_on='job_id').drop(columns=['job_name'])

In [51]:
def generateId(row):
    pkRow = f'{row["application_id"]}_{"".join(row["application_stage"].split(" "))}'
    return pkRow

df_inscritosVagas['id'] = df_inscritosVagas.apply(generateId, axis=1)

In [52]:
df_inscritosVagas.cargo.value_counts()

Consultor Comercial Externo    17264
Consultor Comercial             6952
Agente Stone                     926
Name: cargo, dtype: int64

In [53]:
df_inscritosVagas.head()

   application_id   job_id application_stage    cidade         cargo
0         2900991  1127750       interview 1  Brasília  Agente Stone
1         2544859  1127750       interview 1  Brasília  Agente Stone
2         2401778  1127750       interview 1  Brasília  Agente Stone
3         2290793  1127750       interview 1  Brasília  Agente Stone
4         2011363  1127750       interview 1  Brasília  Agente Stone

In [54]:
df_inscritosVagas.shape

(28288, 5)

In [55]:
len(df_inscritosVagas['application_id'].unique())

27893

In [56]:
from configparser import ConfigParser
import psycopg2
import psycopg2.extras as psql_extras
import pandas as pd
from typing import Dict

host=localhost
database=houses
user=postgres
password=postgres

In [57]:
import sqlalchemy
from sqlalchemy import create_engine, Table, MetaData
from sqlalchemy.orm import scoped_session, sessionmaker

In [58]:
db = 'postgresql+psycopg2'
user = 'airflow'
pwd = 'airflow'
host = '0.0.0.0'
port = '5432'
db_name = 'airflow'

db_engine = create_engine(f"{db}://{user}:{pwd}@{host}:{port}/{db_name}")

In [59]:
db_engine.connect()

In [60]:
connection = db_engine.raw_connection()
cursor = connection.cursor()

In [61]:
df_inscritosVagas

,application_id,job_id,application_stage,cidade,cargo
0,2900991,1127750,interview 1,Brasília,Agente Stone
1,2544859,1127750,interview 1,Brasília,Agente Stone
2,2401778,1127750,interview 1,Brasília,Agente Stone
3,2290793,1127750,interview 1,Brasília,Agente Stone
4,2011363,1127750,interview 1,Brasília,Agente Stone
...,...,...,...,...,...
28283,2257231,1391033,interview 2,Primavera do Leste,Agente Stone
28284,2247124,1674192,interview 1,Concórdia,Consultor Comercial Externo
28285,2424231,1674192,interview 2,Concórdia,Consultor Comercial Externo
28286,2814160,1881895,offer,Itumbiara,Agente Stone
28287,2496234,1230796,interview 2,Nova Mutum,Agente Stone

In [62]:
df_inscritosVagas.columns

Index(['application_id', 'job_id', 'application_stage', 'cidade', 'cargo'], dtype='object')

In [68]:
df_inscritosVagas.to_sql("stone", db_engine, if_exists='replace')

In [69]:
result_set = db_engine.execute("SELECT * FROM stone")  
for r in result_set:  
    print(r)

ltor Comercial Externo')
(28011, 2200531, 1061121, 'interview 1', 'São Bento do Sul', 'Consultor Comercial Externo')
(28012, 2137633, 1061121, 'interview 1', 'São Bento do Sul', 'Consultor Comercial Externo')
(28013, 2123463, 1061121, 'offer', 'São Bento do Sul', 'Consultor Comercial Externo')
(28014, 2678139, 1061121, 'applied', 'São Bento do Sul', 'Consultor Comercial Externo')
(28015, 2570856, 1061121, 'applied', 'São Bento do Sul', 'Consultor Comercial Externo')
(28016, 2758884, 1061121, 'applied', 'São Bento do Sul', 'Consultor Comercial Externo')
(28017, 2268216, 1061121, 'interview 2', 'São Bento do Sul', 'Consultor Comercial Externo')
(28018, 2687499, 1671174, 'applied', 'Marabá', 'Agente Stone')
(28019, 2502584, 1671174, 'applied', 'Marabá', 'Agente Stone')
(28020, 2322484, 1671174, 'offer', 'Marabá', 'Agente Stone')
(28021, 2915439, 1671174, 'applied', 'Marabá', 'Agente Stone')
(28022, 2205336, 1671174, 'interview 2', 'Marabá', 'Agente Stone')
(28023, 2136093, 1671174, 'applied', 'Marabá', 'Agente Stone')
(28024, 2326438, 1834742, 'interview 1', 'Colatina', None)
(28025, 2083374, 1834742, 'interview 1', 'Colatina', None)
(28026, 2372221, 1834742, 'interview 1', 'Colatina', None)
(28027, 2713057, 1834742, 'offer', 'Colatina', None)
(28028, 2956882, 1834742, 'offer', 'Colatina', None)
(28029, 2368364, 1834742, 'interview 1', 'Colatina', None)
(28030, 2191595, 1834742, 'interview 1', 'Colatina', None)
(28031, 2852847, 1834742, 'applied', 'Colatina', None)
(28032, 2957618, 1834742, 'applied', 'Colatina', None)
(28033, 2686700, 1834742, 'applied', 'Colatina', None)
(28034, 2757235, 1834742, 'offer', 'Colatina', None)
(28035, 2480358, 1834742, 'applied', 'Colatina', None)
(28036, 2735405, 1834742, 'interview 1', 'Colatina', None)
(28037, 2880599, 1834742, 'offer', 'Colatina', None)
(28038, 2568414, 1834742, 'interview 2', 'Colatina', None)
(28039, 2784932, 1834742, 'offer', 'Colatina', None)
(28040, 2726265, 1834742, 'interview 2', 'Colatina', None)
(28041, 2673024, 1834742, 'applied', 'Colatina', None)
(28042, 2919229, 1834742, 'interview 2', 'Colatina', None)
(28043, 2561291, 1010829, 'interview 1', 'Olinda', None)
(28044, 2140350, 1010829, 'applied', 'Olinda', None)
(28045, 2706741, 1010829, 'applied', 'Olinda', None)
(28046, 2210852, 1010829, 'applied', 'Olinda', None)
(28047, 2893166, 1010829, 'applied', 'Olinda', None)
(28048, 2843756, 1010829, 'applied', 'Olinda', None)
(28049, 2378461, 1010829, 'applied', 'Olinda', None)
(28050, 2154828, 1010829, 'applied', 'Olinda', None)
(28051, 2229454, 1010829, 'applied', 'Olinda', None)
(28052, 2568024, 1010829, 'applied', 'Olinda', None)
(28053, 2514344, 1010829, 'applied', 'Olinda', None)
(28054, 2259753, 1010829, 'applied', 'Olinda', None)
(28055, 2420021, 1010829, 'applied', 'Olinda', None)
(28056, 2117748, 1010829, 'applied', 'Olinda', None)
(28057, 2979203, 1010829, 'applied', 'Olinda', None)
(28058, 2897059, 1010829, 'applied', 'Olinda', None)
(28059, 2840683, 1010829, 'applied', 'Olinda', None)
(28060, 2834147, 1010829, 'applied', 'Olinda', None)
(28061, 2432791, 1010829, 'applied', 'Olinda', None)
(28062, 2586937, 1010829, 'applied', 'Olinda', None)
(28063, 2463544, 1010829, 'applied', 'Olinda', None)
(28064, 2985307, 1010829, 'applied', 'Olinda', None)
(28065, 2499118, 1010829, 'applied', 'Olinda', None)
(28066, 2756079, 1010829, 'applied', 'Olinda', None)
(28067, 2481657, 1010829, 'applied', 'Olinda', None)
(28068, 2304207, 1010829, 'applied', 'Olinda', None)
(28069, 2488463, 1010829, 'applied', 'Olinda', None)
(28070, 2234264, 1010829, 'applied', 'Olinda', None)
(28071, 2792838, 1010829, 'applied', 'Olinda', None)
(28072, 2440042, 1010829, 'applied', 'Olinda', None)
(28073, 2141468, 1010829, 'applied', 'Olinda', None)
(28074, 2264770, 1010829, 'applied', 'Olinda', None)
(28075, 2221986, 1010829, 'applied', 'Olinda', None)
(28076, 2167685, 1010829, 'applied', 'Olinda', None)
(28077, 2576144, 1010829, 'applied', 'Olinda', None)
(28078, 2805078, 1010829, 'applied', 'Olinda', None)
(28079, 2137011, 1010829, 'applied', 'Olinda', None)
(28080, 2195890, 1010829, 'applied', 'Olinda', None)
(28081, 2235596, 1010829, 'applied', 'Olinda', None)
(28082, 2474107, 1010829, 'applied', 'Olinda', None)
(28083, 2642828, 1010829, 'applied', 'Olinda', None)
(28084, 2669662, 1010829, 'applied', 'Olinda', None)
(28085, 2149862, 1010829, 'applied', 'Olinda', None)
(28086, 2491540, 1010829, 'applied', 'Olinda', None)
(28094, 2337046, 1702273, 'applied', 'Lontras', 'Consultor Comercial Externo')
(28095, 2117616, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28096, 2608749, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28097, 2957644, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28098, 2845176, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28099, 2381608, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28100, 2974282, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28101, 2554792, 1702273, 'applied', 'Lontras', 'Consultor Comercial Externo')
(28102, 2122327, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28103, 2285518, 1702273, 'interview 1', 'Lontras', 'Consultor Comercial Externo')
(28104, 2939175, 1702273, 'offer', 'Lontras', 'Consultor Comercial Externo')
(28105, 2447748, 1702273, 'offer', 'Lontras', 'Consultor Comercial Externo')
(28106, 2219670, 1702273, 'applied', 'Lontras', 'Consultor Comercial Externo')
(28107, 2425023, 1702273, 'applied', 'Lontras', 'Consultor Comercial Externo')
(28108, 2196143, 1702273, 'interview 2', 'Lontras', 'Consultor Comercial Externo')
(28109, 2807019, 1038300, 'offer', 'Catalão', 'Agente Stone')
(28110, 2090390, 1038300, 'offer', 'Catalão', 'Agente Stone')
(28111, 2553352, 1038300, 'offer', 'Catalão', 'Agente Stone')
(28112, 2031655, 1038300, 'applied', 'Catalão', 'Agente Stone')
(28113, 2152519, 1038300, 'applied', 'Catalão', 'Agente Stone')
(28114, 2694958, 1947007, 'offer', 'São Mateus', None)
(28115, 2268606, 1947007, 'applied', 'São Mateus', None)
(28116, 2583189, 1947007, 'applied', 'São Mateus', None)
(28117, 2701535, 1947007, 'applied', 'São Mateus', None)
(28118, 2553613, 1947007, 'interview 1', 'São Mateus', None)
(28119, 2379821, 1947007, 'interview 1', 'São Mateus', None)
(28120, 2952090, 1947007, 'offer', 'São Mateus', None)
(28121, 2506119, 1947007, 'interview 1', 'São Mateus', None)
(28122, 2829034, 1947007, 'offer', 'São Mateus', None)
(28123, 2437556, 1947007, 'applied', 'São Mateus', None)
(28124, 2190429, 1947007, 'applied', 'São Mateus', None)
(28125, 2595902, 1947007, 'applied', 'São Mateus', None)
(28126, 2576430, 1947007, 'offer', 'São Mateus', None)
(28127, 2312828, 1947007, 'applied', 'São Mateus', None)
(28128, 2804951, 1947007, 'applied', 'São Mateus', None)
(28129, 2926621, 1079680, 'applied', 'Bento Gonçalves', 'Consultor Comercial Externo')
(28130, 2938832, 1079680, 'interview 1', 'Bento Gonçalves', 'Consultor Comercial Externo')
(28131, 2243940, 1079680, 'applied', 'Bento Gonçalves', 'Consultor Comercial Externo')
(28132, 2483004, 1079680, 'applied', 'Bento Gonçalves', 'Consultor Comercial Externo')
(28133, 2272343, 1398633, 'interview 1', 'Igarapava', 'Agente Stone')
(28134, 2615518, 1398633, 'interview 1', 'Igarapava', 'Agente Stone')
(28135, 2193791, 1398633, 'applied', 'Igarapava', 'Agente Stone')
(28136, 2360307, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28137, 2634788, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28138, 2151136, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28139, 2015377, 1382496, 'interview 1', 'Porto Velho', 'Agente Stone')
(28140, 2252444, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28141, 2184437, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28142, 2911525, 1382496, 'interview 1', 'Porto Velho', 'Agente Stone')
(28143, 2641031, 1382496, 'offer', 'Porto Velho', 'Agente Stone')
(28144, 2124355, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28145, 2517459, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28146, 2867460, 1382496, 'offer', 'Porto Velho', 'Agente Stone')
(28147, 2048777, 1382496, 'applied', 'Porto Velho', 'Agente Stone')
(28148, 2063196, 1382496, 'offer', 'Porto Velho', 'Agente Stone')
(28149, 2681776, 1382496, 'interview 2', 'Porto Velho', 'Agente Stone')
(28150, 2251912, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28151, 2167057, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28152, 2560051, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28153, 2629153, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28154, 2755658, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28155, 2639283, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28156, 2379998, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28157, 2913071, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28158, 2173326, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28159, 2258908, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28160, 2371024, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28161, 2716033, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28162, 2387262, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28163, 2138848, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28164, 2825002, 1409554, 'offer', 'Nova Friburgo', 'Consultor Comercial Externo')
(28165, 2807067, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28166, 2268622, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28167, 2406320, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28168, 2609406, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28169, 2767605, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28170, 2174392, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28171, 2352984, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28172, 2863493, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28173, 2106499, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28174, 2475656, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28175, 2450259, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28176, 2732220, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28177, 2706570, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28178, 2756104, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28179, 2086766, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28180, 2398640, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28181, 2562915, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28182, 2206540, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28183, 2286280, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28184, 2718929, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28185, 2528261, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28186, 2164992, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28187, 2227073, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28188, 2402523, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28189, 2056340, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28190, 2073112, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28191, 2743233, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28192, 2231749, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28193, 2824448, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28194, 2920997, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28195, 2615415, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28196, 2771509, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28197, 2170306, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28198, 2490400, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28199, 2143456, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28200, 2573701, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28201, 2726761, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28202, 2803146, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28203, 2574162, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28204, 2319071, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28205, 2655178, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28206, 2359799, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28207, 2086406, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28208, 2144486, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28209, 2554914, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28210, 2826454, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28211, 2703693, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28212, 2084374, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28213, 2114481, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28214, 2771321, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28215, 2481620, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28216, 2440684, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28217, 2016306, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28218, 2050755, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28219, 2604554, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28220, 2205484, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28221, 2575857, 1409554, 'interview 1', 'Nova Friburgo', 'Consultor Comercial Externo')
(28222, 2731114, 1409554, 'offer', 'Nova Friburgo', 'Consultor Comercial Externo')
(28223, 2207182, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28224, 2539348, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28225, 2020473, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28226, 2862935, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28227, 2237582, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28228, 2337833, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28229, 2760757, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28230, 2165053, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28231, 2732955, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28232, 2095116, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28233, 2074270, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28234, 2881817, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28235, 2156915, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28236, 2790381, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28237, 2236817, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28238, 2407687, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28239, 2476798, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28240, 2701717, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28241, 2611366, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28242, 2429346, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28243, 2512211, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28244, 2301786, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28245, 2359879, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28246, 2921380, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28247, 2452530, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28248, 2874500, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28249, 2798380, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28250, 2941968, 1409554, 'applied', 'Nova Friburgo', 'Consultor Comercial Externo')
(28251, 2810705, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28252, 2996352, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28253, 2827432, 1409554, 'interview 2', 'Nova Friburgo', 'Consultor Comercial Externo')
(28254, 2537355, 1851820, 'applied', 'Águas Lindas de Goiás', 'Agente Stone')
(28255, 2114313, 1851820, 'offer', 'Águas Lindas de Goiás', 'Agente Stone')
(28256, 2756888, 1851820, 'applied', 'Águas Lindas de Goiás', 'Agente Stone')
(28257, 2648359, 1851820, 'offer', 'Águas Lindas de Goiás', 'Agente Stone')
(28258, 2543620, 1851820, 'interview 2', 'Águas Lindas de Goiás', 'Agente Stone')
(28259, 2443409, 1036438, 'applied', 'Barretos', 'Consultor Comercial')
(28260, 2903582, 1036438, 'interview 1', 'Barretos', 'Consultor Comercial')
(28261, 2490884, 1036438, 'applied', 'Barretos', 'Consultor Comercial')
(28262, 2198669, 1036438, 'interview 1', 'Barretos', 'Consultor Comercial')
(28263, 2410591, 1036438, 'applied', 'Barretos', 'Consultor Comercial')
(28264, 2475036, 1036438, 'interview 1', 'Barretos', 'Consultor Comercial')
(28265, 2710048, 1036438, 'applied', 'Barretos', 'Consultor Comercial')
(28266, 2475246, 1036438, 'applied', 'Barretos', 'Consultor Comercial')
(28267, 2764326, 1475058, 'applied', 'Conceição das Alagoas', 'Agente Stone')
(28268, 2756732, 1475058, 'applied', 'Conceição das Alagoas', 'Agente Stone')
(28269, 2713905, 1475058, 'applied', 'Conceição das Alagoas', 'Agente Stone')
(28270, 2453020, 1475058, 'applied', 'Conceição das Alagoas', 'Agente Stone')
(28271, 2015616, 1350156, 'applied', 'Várzea Grande', 'Agente Stone')
(28272, 2732617, 1350156, 'offer', 'Várzea Grande', 'Agente Stone')
(28273, 2045900, 1350156, 'offer', 'Várzea Grande', 'Agente Stone')
(28274, 2685141, 1350156, 'applied', 'Várzea Grande', 'Agente Stone')
(28275, 2876189, 1350156, 'applied', 'Várzea Grande', 'Agente Stone')
(28276, 2375346, 1350156, 'offer', 'Várzea Grande', 'Agente Stone')
(28277, 2146541, 1769304, 'applied', "Alta Floresta D'Oeste", 'Agente Stone')
(28278, 2630914, 1769304, 'applied', "Alta Floresta D'Oeste", 'Agente Stone')
(28279, 2777964, 1304827, 'offer', 'Aracruz', None)
(28280, 2730947, 1304827, 'offer', 'Aracruz', None)
(28281, 2606073, 1391033, 'interview 1', 'Primavera do Leste', 'Agente Stone')
(28282, 2909679, 1391033, 'offer', 'Primavera do Leste', 'Agente Stone')
(28283, 2257231, 1391033, 'interview 2', 'Primavera do Leste', 'Agente Stone')
(28284, 2247124, 1674192, 'interview 1', 'Concórdia', 'Consultor Comercial Externo')
(28285, 2424231, 1674192, 'interview 2', 'Concórdia', 'Consultor Comercial Externo')
(28286, 2814160, 1881895, 'offer', 'Itumbiara', 'Agente Stone')
(28287, 2496234, 1230796, 'interview 2', 'Nova Mutum', 'Agente Stone')

In [66]:
#db_engine.execute("CREATE TABLE IF NOT EXISTS stone (application_id text, job_id text, application_stage text, cidade text, cargo text)")  
db_engine.execute("DROP TABLE IF EXISTS stone")
db_engine.execute("CREATE TABLE stone (application_id text, job_id text, application_stage text, cidade text, cargo text)")

db_engine.execute("INSERT INTO stone (application_id, job_id, application_stage, cidade, cargo) VALUES ('xxxxxxx', 'yyyyyyy', 'interview n', 'Carangola', 'Agente Stone')")

# Read
result_set = db_engine.execute("SELECT * FROM stone")  
for r in result_set:  
    print(r)

# Update
db_engine.execute("UPDATE stone SET application_id='zzzzzzzz' WHERE cargo='Agente Stone'")

# Delete
#db_engine.execute("DELETE FROM films WHERE year='2016'")

('xxxxxxx', 'yyyyyyy', 'interview n', 'Carangola', 'Agente Stone')

In [37]:
db

AttributeError: 'Engine' object has no attribute 'tables'

In [26]:
from sqlalchemy import create_engine

# Create 
db_engine.execute("CREATE TABLE IF NOT EXISTS films (title text, director text, year text)")  
db_engine.execute("INSERT INTO films (title, director, year) VALUES ('Doctor Strange', 'Scott Derrickson', '2016')")

# Read
result_set = db.execute("SELECT * FROM films")  
for r in result_set:  
    print(r)

# Update
db.execute("UPDATE films SET title='Some2016Film' WHERE year='2016'")

# Delete
db.execute("DELETE FROM films WHERE year='2016'")

AttributeError: 'str' object has no attribute 'execute'

In [ ]:
statement = films.insert().values(title="Doctor Strange", director="Scott Derrickson", year="2016")  
conn.execute(statement)